body {
    font-weight: 300;
    @include content($body-bg, $body-color);
}
body.dark {
    @include content($body-dark-bg, $body-dark-color);
    .card{
        background-color: $body-dark-bg;
        color: $body-dark-color;
        box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%)
    }
    .bg-white {
        color: $body-dark-color !important;
        background-color: $body-dark-black !important;
    }
    .table {
        color: $body-dark-color !important;
    }
    .table-success, .table-warning, .table-info, .table-danger{
        color: $body-color;
    }
    .form-control,
    .custom-file-label,
    .custom-select {
        color: $body-dark-color;
        background-color: $body-dark-bg;
        border: 1px solid #ced4da;
    }
    .selectpicker + .btn-light {
        background-color: $body-dark-bg;
        color: $body-dark-color;
        border: 1px solid #ced4da;
    }
}
.sidebar-heading {
    background-color: var(--primary);
    color: $white;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    margin-left: -15rem;
    min-height: 100vh;
    transition: margin 0.25s ease-out;
    a {
        &.bg-white {
            font-size: 0.75rem;
            font-weight: 200;
            text-transform: uppercase;
            background: var(--primary) !important;
            color: hsla(0, 0%, 100%, 0.8);
            &:hover {
                color: hsla(0, 0%, 100%, 1) !important;
                font-weight: 400;
            }
        }
    }
}
#sidebar-wrapper {
    .list-group.list-group-flush {
        a {
            i {
                font-size: 26px;
                float: left;
                margin-right: 12px;
                line-height: 30px;
                width: 34px;
                text-align: center;
                color: hsla(0, 0%, 100%, 0.8);
                position: relative;
            }
        }
    }
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    margin-top: 2rem;
    width: 12.5rem;
    .list-group-item {
        line-height: 30px;
        border: 0;
        padding: 1.15rem;
    }
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

nav {
    &.navbar {
        .btn.btn-link {
            font-size: 1.6rem;
            padding: 0 1rem;

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.card-body {
    .table {
        margin-bottom: 0;
    }
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background: #dae0e5 !important;
    color: $body-color !important;
}

.table {
    th,
    td {
        padding: 0.75rem 0.75rem 0.5rem;
        max-width: 100%;
        white-space: nowrap;
        i {
            position: relative;
            top: 2px;
            font-size: 1.25rem;
        }
    }
}
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0 solid #dee2e6;
}
td.has-icon {
    min-width: 110px;
}
.custom-select {
    &.form-control-lg {
        font-size: 1.125rem;
        height: calc(1.5em + 1rem + 2px);
        padding: 0.5rem 1rem;
        line-height: 1.5;
    }
}
.selectpicker {
    & + .btn-light {
        background-color: $white;
        border: 1px solid $gray-400;
    }
}

.bs-ok-default {
    &.check-mark {
        color: $success;
    }
}
// input[type="file"] {
//     display: none;
// }
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-label::after {
    font-size: 1.2rem;
    font-family: "Ionicons";
    content: "\f255";
}

.input-group-addon {
    position: absolute;
    top: 43px;
    right: 10px;
}
#price {
    &.is-invalid {
        + .input-group-addon {
            right: 37px;
        }
    }
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.card {
    background: #fff;
    box-shadow: 0 1px 15px 0 hsla(0, 0%, 48%, 0.05);
    border-radius: 0.2857rem;
    border: 0;
}
.table-responsive {
    max-height: 75vh;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6;
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: Poppins;
    font-weight: 200;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 1.602rem;
}

h2,
.h2 {
    font-size: 1.402rem;
}

h3,
.h3 {
    font-size: 1.20rem;
}

h4,
.h4 {
    font-size: 1.125rem;
}

h5,
.h5 {
    font-size: 1.05rem;
}

h6,
.h6 {
    font-size: .9rem;
}

.badge {
    display: inline-block;
    padding: 0.5em 0.75em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
