// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://cdn.lineicons.com/3.0/lineicons.css");

// Variables
@import "variables";

$primary: #386AB0;
$secondary: #6f7f8c;
$success: #81c784;
$danger: #e57373;
$warning: #ffb74d;
$info: #4fc3f7;
$light: #fafafa;
$dark: #1e2b37;

$font-family-base: 'Poppins', sans-serif;
$headings-font-family: Poppins;

$enable-grid-classes: true;
$enable-rounded:false;

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-select/sass/bootstrap-select";
@import "~bootstrap-table/src/bootstrap-table";
@import "~font-awesome/scss/font-awesome";


/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
 @import "overrides";
