body{
    background-color: #fdfdfd
}
.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
.advice-container{
    background: #ecedef;
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid;
    border-color: #b8daff;
    max-width: 600px;
    padding: 1rem 1rem;
    margin: 0 auto .5rem;
    font-family: sans-serif;
}
.advice-container p{
    
}
.advice-container_online{
    background: #ecedef;
    color: #004085;
    border: 1px solid;
    border-color: #dbdbdb;
    margin-bottom: 1rem;
}
.cardWrap {
    width: 42em;
    margin: 0 auto;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.card {
    background: linear-gradient(to bottom,
            var(--primary) 0%,
            var(--primary) 26%,
            #ecedef 26%,
            #ecedef 100%);
    height: 17.5em;
    position: relative;
    margin-top: 5vh;
}

.cardLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 30.5em;
}

.cardRight {
    width: 8em;
    padding: 0 1rem;
    border-left: 0.18em dashed #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cardRight:before,
.cardRight:after {
    content: "";
    position: absolute;
    display: block;
    width: 0.9em;
    height: 0.9em;
    background: #fff;
    border-radius: 50%;
    left: -0.5em;
}

.cardRight:before {
    top: -0.4em;
}

.cardRight:after {
    bottom: -0.4em;
}

h1 {
    font-size: 1.15em;
    margin: 17.5px 0;
}

h1 span {
    font-weight: normal;
}

.title,
.name {
    text-transform: uppercase;
    font-weight: normal;
}

.title h2,
.name h2,
.place h2,
.time h2 {
    font-size: 0.9em;
    line-height: 1em;
    color: #525252;
    margin: 0;
}

.place h2 {
    font-size: 1em;
}

.title span,
.name span,
.place span,
.time span {
    font-size: 0.7em;
    color: #a2aeae;
}

.title {
    padding: .5rem .5rem .5rem 1rem;
    background: var(--primary);
    border-top-left-radius: 20px
}

.name,
.place,
.time {
    padding: .25rem 1rem 0;
    margin: 0.7em 0 0 0;
}

.time {
    margin: 0.7em 2em 0 0;
}

.place,
.date,
.time {
    float: left;
}

.qr-container {
    position: relative;
    top: 90px;
    background-color: white;
    padding: 0.6em;
}

.card.cardRight svg {
    display: block;
    margin-bottom: 0;
    width: 100%;
}

.card.cardRight p {
    display: block;
    margin: 15px auto 0;
    text-align: center;
    color: var(--primary);
    font-size: 0.9em;
    width: 100%;
}

ul {
    list-style-type: none;
    width: 44em;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    margin: 0.5em 0;
    height: 30px;
}

ul li a {
    color: var(--primary);
}

ul li a:hover {
    color: #000;
}
.online-tag{
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    color: #a2aeae;
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }

    .cardWrap {
        margin: 1.5rem auto;
        break-inside: avoid;
    }

    .card {
        margin-top: 0;
    }
}